<ion-header>
  <ion-toolbar>
    <ion-title>
      detalhes
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-content fullscreen class="ion-padding">
    <ion-fab horizontal="end" vertical="midle" slot="fixed" edge>
      <ion-fab-button color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="light">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  


<ion-content>

</ion-content>
