* {
    font-family: lato;
}

.menu-header-bg
{
    height: 180px;
    width: 350px;
    background: #540F00;
    background: linear-gradient(90deg, #540F00 0%, #5D1000);
    box-shadow: 0px 1px 10px  rgba(145, 98, 105, 0.5);
}





